# Musthaves

Exploratory session (mid september 2025) with musthaves

## Search Assistent
- Als beleidsmedewerker wil ik snel en eenvoudig relevante bronnen kunnen doorzoeken (onderzoek, literatuur, rapportages, Kamervragen), zodat ik mijn adviezen kan baseren op feitelijke en actuele informatie.
- Upload Assistent: Zelf documenten toevoegen
- Text Optimizer: Tekst structureren, samenvatten etc
- Als beleidsmedewerker wil ik toegang hebben tot één centrale zoekfunctie die bronnen uit verschillende systemen bundelt, zodat ik niet handmatig meerdere platforms hoef te raadplegen.
- Content Scanner: Vinden van content in meerdere databronnen
- Ik wil zoekresultaten kunnen "bewaren" zodat ik niet hoef terug te zoeken in eerdere gesprekken en dan moet scrollen
- Search Agents: AI's met een specifieke taak
- Search Agents: AI's met een specifieke taak
- ik wil een korte samenvatting van een document zien in de resultaten
-  ik wil als gebruiker kunnen zoeken over verschillende bronnen
- Ik wil de kaders kunnen aangeven waarbinnen gezocht moet worden
- ik wil de resultaten duidelijk terug kunnen zien, inclusief bronvermelding
- Ik wil kunnen zoeken door publieke én interne bronnen. Los van elkaar en gecombineerd Publiek en intern (beschikbare bronnen ;) ) 
- Als beleidsmedewerker wil ik minder tijd kwijt zijn aan het zoeken naar juiste bronnen, zodat ik meer tijd kan besteden aan inhoudelijke analyse en strategisch werk.
- Ik wil volledige traceerbaarheid en kunnen kiezen voor weergave van bronnen en referenties
- Als beleidsmedewerker wil ik de betrouwbaarheid en herkomst van informatie goed kunnen beoordelen, zodat ik alleen verifieerbare feiten gebruik.
- A ls beleidsmedewerker wil ik mijn vragen en zoekopdrachten kunnen verfijnen met filters, zodat ik niet verdwaal in irrelevante informatie.

## Dialog Assistant
- Ik wil een beleidsadvies opleveren en heb daarvoor vanuit verschillende (maatschappelijke, politieke, wetenschappelijke) invalshoeken actuele en betrouwbare (verifieerbare) informatie nodig, die ik op een snelle en eenvoudige manier kan vinden en bewerken (o.a. aanvullende vragen stellen)
- Interne virtuele assistent: Beantwoorden van vragen en dialoog over zaken of dossiers
- Ik wil (delen van) gesprekken kunnen opslaan
- ik wil ook zelfde functionaliteit voor chat als zoek (kiezen bronnen, etc)
- Ik wil een chat kunnen archiveren / deleten
- Als beleidsmedewerker wil ik automatisch gegenereerde samenvattingen van grote documenten, zodat ik sneller de essentie begrijp.
- ik wil als gebruiker dat de chats toegepitst zijn op mijn domein/sector/werkwijze, system / organisatie prompts (vergelijking met claude.md in claude code)
- Ik wil een tijdelijke "geheime" chat maken "ff snel iets doen"

## Case Assistant
- ik wil als gebruiker een dossier kunnen maken/editen/verwijderen en daar mijn informatie van dat dossier aan toevoegen zodat ik vanuit die context de AI assistent kan inzetten
- ik wil een dossier kunnen aanmaken dmv een titel. Ook de mogelijkheid om optioneel  een omschrijving en tags toe te voegen
- Ik wil als gebruiker ook de mogelijkheid hebben om bestanden aan mijn dossier toe te voegen (of zelfs directory) 
- Als beleidsmedewerker wil ik informatie en documenten kunnen clusteren per thema of dossier, zodat ik overzicht behoud.

## Non-functional
- Ik wil aantoonbaar voldoen aan geldende natoinale en internationale security normen
-  wil achteraf inzicht in gebruik van de applicatie (we moeten ook weten hoeveel "tokens" gebruikt zijn)
- Ik wil dat de applicatie als SAAS beschikbaar is (inclusief beheer daarop), niet on-prem en Azure based. niet per se multi tenant
- Ik wil een goed doordachte applicatie die er mooi uit zien
- Ik wil mijn wachtwoord kunnen wijzigen
- Ik wil 2FA kunnen instellen

## Overig
- website / landingpage
- naam: legal associate (deponeren)
- Sales en Marketing plan


